<div class="stepper">
    <a href="/users">Home</a> /
    <a href="/users/{{userId}}">Profile</a> /
    <a href="/users/{{userId}}/games">Games</a> / {{game.name}}
</div>

<div class="game-header">
    <div>
        <h1>{{game.name}}</h1>
        <h3>{{game.address}}</h3>
    </div>
    <a class="button warning" href="/users/{{userId}}/games/{{game._id}}/delete">Delete</a>
</div>

<div>
    <div class="info-header">
        <h3>Game Info</h3>
        <a class="button primary" href="/users/{{userId}}/games/{{game._id}}/info/new">Add Game Info</a>
    </div>

    <div class="info">
        {{#each game.infoList}}
        <div class="info">
            <a href="/users/{{../userId}}/games/{{../game._id}}/info/{{this._id}}">
                {{this.title}}
            </a>
        </div>
        {{/each}}
    </div>

</div>